Package: libuv1-dev
Source: libuv1
Version: 1.24.0-1
Architecture: amd64
Maintainer: Dominique Dumont <dod@debian.org>
Installed-Size: 10018
Depends: libuv1 (= 1.24.0-1)
Conflicts: libuv-dev, libuv0.10-dev
Replaces: libuv-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/libuv/libuv
Description: asynchronous event notification library - development files
 Libuv is the asynchronous library behind Node.js. Very similar to libevent or
 libev, it provides the main elements for event driven systems: watching and
 waiting for availability in a set of sockets, and some other events like timers
 or asynchronous messages. However, libuv also comes with some other extras
 like:
  * files watchers and asynchronous operations
  * a portable TCP and UDP API, as well as asynchronous DNS resolution
  * processes and threads management, and a portable inter-process
    communications mechanism, with pipes and work queues
  * a plugins mechanism for loading libraries dynamically
  * interface with external libraries that also need to access the I/O.
 .
 Install this package if you wish to develop your own programs using the
 libuv engine.
